@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
header .botonBuscar {
  background-color: #6dc9e7;
  color: black; }
  header .botonBuscar:hover {
    background-color: black; }

body {
  background-image: url(../img/fondo.jpg); }
  body .cajaPrincipal {
    background: #e9e088;
    background: radial-gradient(circle, rgba(233, 224, 136, 0.566264) 0%, black 100%);
    border: 2px black solid;
    position: center;
    left: 380px;
    border-radius: 2% 2% 2% 2%;
    text-align: center; }
  body .textoConTitulo {
    color: #ece7b8; }
  body h1 {
    color: #f8f1d9; }
  body h2 {
    color: #f8f1d9; }
  body h3 {
    color: #f8f1d9; }
  body p {
    color: white; }
  body strong {
    color: #f8f1d9; }
  body .imagenPersonaje {
    background-color: #474646;
    color: #ece7b8;
    padding: 0%; }
  body .nombrePersonaje {
    font-family: 'Playfair Display', serif;
    font-weight: bold; }
  body .textoContacto {
    color: #ece7b8; }

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .cajaPrincipal {
    width: 100%; }
  .imgBloodborneIndex {
    width: 450px;
    height: 150px; }
  .imagenPagina {
    width: 300px;
    height: 150px; }
  .videoIndex {
    width: 300px;
    height: 150px; } }

@media screen and (min-width: 577px) {
  .cajaPrincipal {
    width: 100%; }
  .imgBloodborneIndex {
    width: 550px;
    height: 350px; }
  .imagenPagina {
    width: 500px;
    height: 200px; }
  .videoIndex {
    width: 360px;
    height: 215px; } }

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .cajaPrincipal {
    width: 100%; }
  .imgBloodborneIndex {
    width: 650px;
    height: 350px; }
  .imagenPagina {
    width: 600px;
    height: 200px; }
  .videoIndex {
    width: 460px;
    height: 215px; } }

@media screen and (min-width: 1101px) {
  .cajaPrincipal {
    width: 60%;
    height: 85%; }
  .imgBloodborneIndex {
    width: 750px;
    height: 450px; }
  .imagenPagina {
    width: 650px;
    height: 300px; }
  .videoIndex {
    width: 560px;
    height: 315px; } }

* {
  margin: 0;
  padding: 0; }
